@import '../../breakpoints';

.root {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 64px 75px 0;
  height: 100%;

  margin: 0 auto;

  @include media('>tablet', '<desktop') {
    padding: 0 20px;
  }
}
