.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 48px 128px;
}

.footer {
  background-color: transparent;
  color: #212121;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  min-height: 100px;
  padding: 0 128px;
}

.footer a {
  color: #212121;
  text-decoration: none;
}
