@import '../../variables';

.root {
  background: $danger;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding: 64px 0 128px;
}

.bigText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 700px;
  line-height: 0.9;
  letter-spacing: 4px;
  font-weight: bold;
  filter: drop-shadow(4px 4px 24px rgba(1, 17, 38, 0.2));
  position: relative;
  z-index: 1;
}

.imageWrapper {
  background-image: url('./assets/Team_Rocket_trio_OS 1.png');
  width: 690px;
  height: 623px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.smallText {
  font-size: 48px;
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 64px;
}

.blackText {
  color: $dark;
}

.btnWrapper {
  width: 231px;
}
